{% extends 'base.html.twig' %}

{% block title %}Street art hunter{% endblock %}

{% block body %}
<main class="home-main d-flex align-items-center flex-column">

	<h2 class="h2-home"> Qui sommes nous?</h2>
	<div class="card-home-1">
		<h3 class="h3-home text-center">Concept:</h3>
		<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores blanditiis nulla. Aut itaque et maiores molestias. Enim, quasi doloremque debitis reiciendis, nemo libero repudiandae corrupti blanditiis recusandae consequatur neque.</p>
	</div>
	<div class="card-home-2">
		<h3 class="h3-home text-center">Regles du jeu:</h3>
		<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores blanditiis nulla. Aut itaque et maiores molestias. Enim, quasi doloremque debitis reiciendis, nemo libero repudiandae corrupti blanditiis recusandae consequatur neque.</p>
	</div>
</main>
{% endblock %}
