{% extends 'base.html.twig' %}

{% block title %}Street art hunter
{% endblock %}

{% block body %}
class="ranking-table-row-leader-1">
<div class="ranking-table-data-leader-1">
	<div class="medal-gold"></div>
</div>
<div class="ranking-table-data">
	Steven A
</div>
<div class="ranking-table-data">
	<div class="complete"></div>
</div></div><div class="ranking-table-row-leader-2">
<div class="ranking-table-data-leader-2">
	<div class="medal-silver"></div>
</div>
<div class="ranking-table-data">
	Raghav M
</div>
<div class="ranking-table-data">
	<div class="complete"></div>
</div></div><div class="ranking-table-row-leader-3">
<div class="ranking-table-data-leader-3">
	<div class="medal-bronze"></div>
</div>
<div class="ranking-table-data">
	Ryan Z
</div>
<div class="ranking-table-data">
	<div class="complete"></div>
</div></div>

{% endblock %}
