{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
    - Street art hunter
{% endblock %}

{% block body %}

<h1 class="h1-ranking">Classement</h1>

<div class="buttons-ranking">
		<button class="btn-top10">Top 10</button>
		<button class="btn-ranking">Classement Complet</button>
</div>

<table>
	<tbody>
		<tr>
			<td>1</td>
			<td>GeGe</td>
			<td>125000</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Xavier Dupond</td>
			<td>12440</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Guy Tube</td>
			<td>111111</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Ze Zozote</td>
			<td>10000</td>
				</tr>
		<tr>
			<td>5</td>
			<td>GeGe</td>
			<td>125000</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Xavier Dupond</td>
			<td>12440</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Guy Tube</td>
			<td>111111</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Ze Zozote</td>
			<td>10000</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Ze Zozote</td>
			<td>10000</td>
		</tr>
		<tr>
			<td>10</td>
			<td>GeGe</td>
			<td>125000</td>
		</tr>
	</tbody>
</table>
{% endblock %}
