<footer class='footer'>
    <div class='footer-gauche'>
        <a href="">CGU</a>
        <a href="">FAQ</a>
    </div>
    <div class='footer-droit'>
        <a href="">Contact</a>
        <a href="">Mentions Légales</a>
    </div>
</footer>