<footer class='footer'>
    <div class='footer-gauche'>
        <a href="">Condition <br> d'utilisation</a>
        <a href="">FAQ</a>
    </div>
    <div class='footer-droit'>
        <a href="">Contact</a>
        <a href="">Politique de <br> confidentialité</a>
    </div>
</footer>