<footer class='footer'>
    <div class='footer-gauche'>
        <a href="#">CGU</a>
        <a href="#">FAQ</a>
    </div>
    <div class='footer-droit'>
        <a href="{{ path('app_contact') }}">Contact</a>
        <a href="{{ path('app_legal') }}">Mentions Légales</a>
    </div>
</footer>