<div class="navbar2">
    <ul>
        <div>
            <li><a href=""><img src="{{ asset('build/images/accueil.png') }}" alt="icon d'accueil"></a></li>
        </div>
        <div>
            <li>Pseudo</li>
            <li>525 points</li>
        </div>
        <div>
            <li><a href=""><img src="{{ asset('build/images/carte.png') }}" alt=""></a></li>
        </div>
    </ul>
</div>