<div class="navbar2">
    <ul>
        <div class='navbar2-icon-home'>
            <li><a href="{{ path('app_home')}}"><img src="{{ asset('build/images/accueil.png') }}" alt="icon d'accueil"></a></li>
        </div>
        <div>
            <li class='navbar2-profil-info'>
                Pseudo <br>
                525 points
            </li>
        </div>
        <div class='navbar2-icon-carte'>
            <li><a href="#"><img src="{{ asset('build/images/carte.png') }}" alt="" width="35rem"></a></li>
        </div>
    </ul>
</div>