.button-camera {
    font-size: 17px;
        padding: 0.5em 2em;
        border: transparent;
        box-shadow: 2px 2px 4px var(--yellow);
        background: var(--red);
        color: white;
        border-radius: 4px;
        
}