.h1-dashboard {
    font-family: var(--titleF);
    margin: 2rem;
}

.h2-dashboard {
    font-family: var(--titleF);
    margin: 1rem;
    margin-bottom: 1em;
}

.btn-dashboard,
.btn-top10 {
    background-color: var(--yellow);
    font-family: var(--textF);
    font-size: 1rem;
    padding: 1rem 2rem;
    border: transparent;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--red);
    border-radius: 0.3rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--black);
}

button:active {
    transform: translate(0em, 0.2em);
}

table {
    width: 25rem;
    margin: 1.5rem auto;
    border-collapse: separate;
    border-spacing: 0.3rem;
}

tr:nth-child(odd) {
    background-color: var(--green)
}

tr:nth-child(even) {
    background-color: var(--yellow);
}

td {
    vertical-align: top;
    padding: 0.5rem 1rem;
    font-family: var(--textF);
}

td:first-child {
    text-align: center;
}

td:not(:first-child) {
    text-align: left;
}