.index-main {
    background-color: var(--blue);
}

.h2-index{
    text-align: center;
    font-family: var(--titleF);
}

.h3-index {
    font-family: var(--textF);

}

.p-index {
    font-family: var(--textF);
}

.card-index-1, .card-index-2 {
    background-color: var(--yellow);
    border: solid 1px var(--black) ;   
}

.card-index-1 {
    border-radius: 0px 15px;
    margin-top: 2rem;
}
       
.card-index-2 {
    border-radius: 15px 0px;
    margin-top: 2rem;
 }

.container-index {
   margin: 2rem; 
}