.navbar2 {
    background-color: var(--blue);
    position: sticky;
    bottom: 0;
<<<<<<< HEAD
=======
    margin-top: 103.8%;
>>>>>>> d5814a4e9f84448721df6098035386ac5476105e
}

.navbar2-icon-home li{
    padding: 0.4rem;
    background-color: #FFD200;
    border-radius: 50%;
}

.navbar2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.navbar2-icon-carte {
    background-color: #39B449;
    padding: 0.4rem;
    border-radius: 50%;
}

.navbar2-profil-info {
    font-family: var(--textF);
}
