.navbar2 {
    background-color: var(--yellow);
    position: sticky;
    bottom: 0;
}

.navbar2-icon-home li{
    padding: 0.4rem;
    background-color: var(--blue);
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--red);
}

.navbar2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.navbar2-icon-carte {
    background-color: var(--green);
    padding: 0.4rem;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--red);
}

.navbar2-profil-info {
    font-family: var(--textF);
}