.profil-main {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    font-family: var(--textF);
}

.profil-form {
    display: flex;
    flex-direction: column;
}

.line-profil {
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    
}

.button-profil {
    display: flex;
    flex-direction: column;
    border-radius: 0px 15px;
    width: 15rem;
    height: 2.5rem;
    align-items: center;
    background-color: var(--yellow);
    margin: 10px auto;
    
}




