body {
    background-color: var(--blue);
}

.h1-register {
    color: var(--black);
    font-family: var(--titleF);
    display: flex;
    align-items: center;
}

.register_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input#registration_form_lastname {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    color: var(--black);
    font-weight: bold;
}

input#registration_form_firstname {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    font-weight: bold;
}

input#registration_form_username {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    font-weight: bold;
}

input#registration_form_email {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    font-weight: bold;
}

input#registration_form_lastname:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}

input#registration_form_firstname:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}


input#registration_form_username:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}

input#registration_form_email:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}

.btn_register_form {
    border-radius: 15px;
    background-color: var(--green);
    text-align: center;
    display: flex;
    align-items: center;
    margin: 2rem 5rem;
    width: 8rem;
    height: 2rem;
    padding: 8px;
    padding-left: 15px;
    border-width: 0;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 3px 0px #383E42;
}

button:hover {
    background-color: var(--red);
    transition:
        background-color 1s;
    color: var(--black);
}

input#registration_form_password_first {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    font-weight: bold;
}

input#registration_form_password_second {
    background-color: var(--yellow);
    border-radius: 0px 15px;
    margin: 5px auto;
    text-align: center;
    border-width: 0;
    width: 18rem;
    height: 2rem;
    font-weight: bold;
}

input#registration_form_password_first:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}

input#registration_form_password_second:hover {
    background-color: var(--red);
    transition:
        background-color 0.5s;
    color: var(--black);
    box-shadow: 0px 3px 0px #383E42;
}