:root {
// couleurs
    --blue:#01a8cd;
    --red:#ef4042;
    --green:#39b449;
    --yellow:#ffd200;
    --black:#0a0a0a;

// polices

    --titleF: 'bukhari', sans-serif;
    --textF: 'Righteous', sans-serif;
}