{% extends 'admin.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('admin/admin_contact/_form.html.twig') }}

    <a href="{{ path('app_admin_contact_index') }}">Retour a la liste</a>
{% endblock %}
