<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/S.A.H5.png') }}"/>
		<title>
			{% block title %}Admin
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}

	</head>

	<body>

		<main class='admin-main'> 
			{% block body %}{% endblock %}
		</main>

			{% block javascripts %}
				{{ encore_entry_script_tags('admin') }}
			{% endblock %}
		</body>
	</html>
