{% extends 'base.html.twig' %}

{% block title %}Camera
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		
		{{form_start(form)}}
        <button type="submit"class=button-camera> envoyer photo </button>
        {{form_end(form)}}
	</div>
{% endblock %}
