{% extends 'admin.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil Dashboard
{% endblock %}

{% block body %}
	<body class="body-dashboard">

		<h1 class="h1-dashboard">Accueil Dashboard</h1>
		<h2 class="h2-dashboard">Salut Patron et bienvenue sur ta page de gestion de site!</h2>

		<div class="buttons-dashboard">
			<a href="{{ path('app_admin_artwork_index') }}" class="btn-dashboard">Mise à jour des oeuvres de Street Art</a>
			<a href="" class="btn-dashboard">Mise à jour des Artistes</a>
			<a href="{{ path('app_admin_user_index') }}" class="btn-dashboard">Mise à jour des Utilisateurs</a>
			<a href="" class="btn-dashboard">Mise à jour des Partenaires</a>
			<a href="" class="btn-dashboard">Mes contacts</a>
			<a href="" class="btn-dashboard">Mes photos</a>
		</div>
	</body>
{% endblock %}
