{% extends 'admin.html.twig' %}

{% block title %}{{ parent() }} - Modifier l'utilisateur {% endblock %}

{% block body %}
    <h1 class='h1-adminUser'>Modifier l'utilisateur</h1>

    {{ include('admin/admin_user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_user_index') }}">Revenir a la liste</a>
{% endblock %}
